* {
    outline: 2px solid red;
}

body {
    display: flex;
    justify-content: center;
    font-family: Roboto;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5%;
}

.Header-Logo {
    font-size: 24px;
    font-weight: 900px;
    margin-right: auto;
    margin-left: 10%;
}

.Header-Link-group {
    display: flex;
    margin-right: 10%;
}

.Header-Link {
    padding: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* Banner/Hero ribbon */
.Banner-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding-bottom: 5%;
}

.Hero-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    gap: 8px;
}

.HeroText {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.HeroSubText {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6px;
    width: 15%;
    height: 32px;
}

.PlaceHolder {
    width:40%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.ph-text {
    background-color: darkgray;
    color: #F9FAF8;
}

/* Info Block */

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.info-header {
    padding: 16px;
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.illublock {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.Infoblock {
    width: 128px;
}

.Picture {
    width: 120px;
    height: 120px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.subtext {
    margin-top: 12px;
    text-align: center;
    color: lightslategrey;
}

